<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronos</title>
    <link rel="stylesheet" href="../../assets/font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/note.css" />
    <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon" />
</head>

<body>
    <div id="main">
        <header>
            <div class="logo">
                <a href="../../index.html">
                    <h2>Chronos</h2>
                </a>
            </div>

            <div class="user-logo">
                <div class="noti">
                    <a href="#" class="ti-bell user-logo__nof"></a>
                </div>
                <a href="#" onclick="showNavLogo()">
                    <i class="ti-angle-down"></i>
                    <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/187925/6241d59a30f5b.png" alt="" />
                </a>

                <div class="showuser-logo__nav" id="user-logo__nav">
                    <ul class="user-logo__nav--list">
                        <li>
                            <a class="head" href="../info-user/InfoUser.html">Your Profile</a
                >
              </li>
              <li><a href="#">Upgrade</a></li>
                        <li><a href="#">Setting</a></li>
                        <li class="tail">
                            <a class="tail" href="../../index.html">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-and-light-night">
                <i class="ti-search"></i>
                <input type="search" name="search" id="search-input" placeholder="Search" />
                <button id="theme-switch">
            <i class="ti-reload"></i>
            <span>Switch to</span> <span class="theme">Light</span>
          </button>
            </div>
        </header>
        <main>
            <aside>
                <nav class="nav1">
                    <a href="#" title="Note"><i class="ti-pencil ti-icon1 hover1"></i
            ></a>
                    <a href="#" title="Calender"><i class="ti-calendar ti-icon2"></i
            ></a>
                    <a href="#" title="To-do">
                        <i class="ti-check-box ti-icon3"></i>
                    </a>
                    <a href="#" title="Alarm"><i class="ti-alarm-clock ti-icon4"></i
            ></a>
                </nav>
                <nav class="nav2">
                    <a href="#"><i class="ti-book ti-icon5"></i></a>
                    <a href="#"><i class="ti-folder ti-icon6"></i></a>
                    <a href="#"><i class="ti-headphone ti-icon7"></i></a>
                    <a href="#">
                        <i class="ti-comment ti-icon8"></i>
                    </a>
                </nav>
                <a href="#" class="icon-chart"><i class="icon-chart ti-bar-chart"></i
          ></a>
                <a href="#"><i class="icon-help ti-help"></i></a>
            </aside>
            <div id="content">
                <!-- NOTE FUNCTION -->
                <div class="notes display-flex" id="app"></div>
                <!-- CALENDER FUNC -->
                <iframe id="frame-calender" src="../calendar/index.html"></iframe>

                <!-- TO-DO FUNC -->
                <iframe id="frame-to-do2" src="../kanbanTable/index.html"></iframe>
                <iframe width="60%" id="frame-to-do1" src="../Todo/index.html"></iframe>

                <!-- CLOCK-TIME FUNC -->
                <iframe id="frame-clock" src="../Alarm/index.html" frameborder="0"></iframe>
                <!-- BOOK FUNC -->
                <iframe src="../Books/index.html" frameborder="0" id="frame-book"></iframe>
                <!-- STORE FUNC -->
                <iframe src="../StorageWeb/index.html" id="frame-storage" frameborder="0"></iframe>
                <!-- MUSIC FUNC -->
                <iframe id="frame-music" src="../MusicPlayer/index.html" frameborder="0"></iframe>

                <!-- CHAT FUNC -->
                <iframe src="../ChatServer/index.html" frameborder="0" id="frame-chat"></iframe>
            </div>
        </main>
        <footer></footer>
    </div>
    <script src="./assets/js-note/main.js" type="module"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>