<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/themify-icons/themify-icons.css" />
</head>

<body>
    <div id="button-to-header">
        <span><i class="ti-arrow-up header-icon"></i></span>
    </div>
    <div id="add-comment-box">
        <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/187925/6241d59a30f5b.png" alt="" />
        <div id="comment">
            <input type="text" id="input-comment" placeholder="Type something ..." />
        </div>
        <i class="ti-microphone sound-icon"></i>
        <i class="ti-clip file-icon"></i>
        <i class="ti-angle-double-right send-icon"></i>
    </div>
    <div id="main">
        <div id="comment-chat">
            <ul id="list-comment"></ul>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>
</body>

</html>